## Combining All data to one dataframe for final

In [32]:
#step 1: import libraries

# for data wrangling
import pandas as pd

# for spatial
import geopandas as gpd

# for plotting
import matplotlib.pyplot as plt

# for basemaps
import contextily as ctx

# for interactive plots
import plotly.express as px

In [33]:
#Speed limit geojson
gdf_speed = gpd.read_file('Data/speeds_location_buffer_1.geojson')

#Street type geojson
gdf_streets = gpd.read_file('Data/street_type.geojson')

#Street light geojson
gdf_lights = gpd.read_file('Data/lights_buffer_timecode.geojson')

In [34]:
gdf_speed.head(2)

,ID,Longitude,Latitude,Location,25 mph,30 mph,35 mph,40 mph,45 mph,geometry
0,211128,-118.270324,34.066662,"ALVARADO ST & BEVERLY BLVD, LOS ANGELES, CA",0,0,2,0,0,POINT (-13165792.221 4037756.597)
1,163711,-118.265210,33.925480,"AVALON BLVD & 118TH PL, LOS ANGELES, CA",0,5,5,0,0,POINT (-13165223.011 4018800.180)

In [35]:
gdf_streets.head(2)

,ID,Longitude,Latitude,Location,service,residential,footway,primary,secondary,tertiary,Total,Percent Service,Percent Residential,Percent Footway,Percent Primary,Percent Secondary,Percent Tertiary,geometry
0,211128,-118.270324,34.066662,"ALVARADO ST & BEVERLY BLVD, LOS ANGELES, CA",155,176,18,66,6,0,421,36.817102,41.805226,4.275534,15.67696,1.425178,0.000000,POINT (-118.27032 34.06666)
1,163711,-118.265210,33.925480,"AVALON BLVD & 118TH PL, LOS ANGELES, CA",57,58,0,0,24,14,153,37.254902,37.908497,0.000000,0.00000,15.686275,9.150327,POINT (-118.26521 33.92548)

In [36]:
gdf_lights.head(2)

,ID,Longitude,Latitude,Location,time_code,lights_count,geometry
0,184240,-118.466162,34.194008,"SEPULVEDA BLVD & VANOWEN ST, LOS ANGELES, CA",1,4,POINT (-118.46616 34.19401)
1,184324,-118.274077,33.945564,"CENTURY BLVD & MAIN ST, LOS ANGELES, CA",1,4,POINT (-118.27408 33.94556)

In [22]:
#merging to one dataframe

In [37]:
#merge new dataframe to original dataframe to get geometry column back
gdf_master=gdf_speed.merge(gdf_streets,on='ID')
gdf_master.head(3)

,ID,Longitude_x,Latitude_x,Location_x,25 mph,30 mph,35 mph,40 mph,45 mph,geometry_x,...,secondary,tertiary,Total,Percent Service,Percent Residential,Percent Footway,Percent Primary,Percent Secondary,Percent Tertiary,geometry_y
0,211128,-118.270324,34.066662,"ALVARADO ST & BEVERLY BLVD, LOS ANGELES, CA",0,0,2,0,0,POINT (-13165792.221 4037756.597),...,6,0,421,36.817102,41.805226,4.275534,15.676960,1.425178,0.000000,POINT (-118.27032 34.06666)
1,163711,-118.265210,33.925480,"AVALON BLVD & 118TH PL, LOS ANGELES, CA",0,5,5,0,0,POINT (-13165223.011 4018800.180),...,24,14,153,37.254902,37.908497,0.000000,0.000000,15.686275,9.150327,POINT (-118.26521 33.92548)
2,30937,-118.333482,34.076157,"BEVERLY BLVD & HUDSON AVE, LOS ANGELES, CA",3,0,3,0,0,POINT (-13172822.982 4039032.589),...,0,0,46,8.695652,73.913043,0.000000,17.391304,0.000000,0.000000,POINT (-118.33348 34.07616)

In [38]:
gdf_master=gdf_master.merge(gdf_lights,on='ID')

In [50]:
gdf_master.head(2)

,ID,25 mph,30 mph,35 mph,40 mph,45 mph,Longitude_y,Latitude_y,Location_y,service,...,Percent Service,Percent Residential,Percent Footway,Percent Primary,Percent Secondary,Percent Tertiary,Location,time_code,lights_count,geometry
0,211128,0,0,2,0,0,-118.270324,34.066662,"ALVARADO ST & BEVERLY BLVD, LOS ANGELES, CA",155,...,36.817102,41.805226,4.275534,15.67696,1.425178,0.000000,"ALVARADO ST & BEVERLY BLVD, LOS ANGELES, CA",2,5,POINT (-118.27032 34.06666)
1,163711,0,5,5,0,0,-118.265210,33.925480,"AVALON BLVD & 118TH PL, LOS ANGELES, CA",57,...,37.254902,37.908497,0.000000,0.00000,15.686275,9.150327,"AVALON BLVD & 118TH PL, LOS ANGELES, CA",3,2,POINT (-118.26521 33.92548)

In [51]:
#write to file to save this 
gdf_master.to_csv("speeds_streets_lights_locations_buffer.csv")